{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Vertederos{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for vertedero in vertederos %}
    <article class="vertedero">
      <header>
        <div>
          <a href="{{ url_for('ppal.vertedero', id=vertedero['id']) }}">
            <h1>{{ vertedero['tipo'] }}</h1>
          </a>
          <div class="about"><span class="badge badge-primary">Informado por {{ vertedero['username'] }}. Fecha: {{ vertedero['fecha'].strftime('%Y-%m-%d') }}</span></div>
        </div>
        {% if g.usuario['id'] == vertedero['usuario_id'] %}
          <a class="action" href="{{ url_for('ppal.editar', id=vertedero['id']) }}"><span class="badge badge-warning">Editar</span></a>
        {% endif %}
      </header>
      <p class="body">{{ vertedero['descripcion'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}