{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Añadir nuevo{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="form-group">
      <label for="tipo">Tipo</label>
      <input class="form-control" name="tipo" id="tipo" value="{{ request.form['tipo'] }}" required>
    </div>
    <div class="form-group">
      <label for="descripcion">Descripción</label>
      <textarea name="descripcion" class="form-control" id="descripcion">{{ request.form['descripcion'] }}</textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Informar</button>
    </div>
  </form>
{% endblock %}